---
---

<div class="relative mt-[100px]">
  <div class="absolute left-1/2 -translate-x-1/2 -top-16 z-10">
    <div class="w-32 h-32 rounded-full border-4 border-white overflow-hidden shadow-xl">
      <img
        src="/footer.jpg"
        alt="Profile"
        class="w-full h-full object-cover hover:scale-110 transition-transform duration-500"
      />
    </div>
  </div>
  <div class="h-48 relative overflow-hidden">
    <img
      src="/footer-cover.jpg"
      alt="Footer Cover"
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
  </div>
  <div class="absolute bottom-4 left-0 right-0 text-center text-white">
    <p class="text-sm">© {new Date().getFullYear()} Araix Rand. All rights reserved.</p>
  </div>
</div>
